* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #fff;
}

.logo {
  color: #fff;
  font-size: large;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-decoration: none;
}

.logo::after{
    content: "";
    display: inline-block;
    border-bottom: 2px solid #fff;
    margin: 10px;
    width: 150px;
  }

.rect {
  width: 250px;
  height: 1px;
  top: 168;
}

.first-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
}

.intro-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
}

.second-section {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
}

.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.About-text-one {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

.About-text-two-title {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #fff;
}

.About-text-two {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.third-section {
  width: 100%;
  min-height: 100vh;
  background-color: #0C0C0C;
}

.user-box {
  position: relative;
}

.title::after {
  content: "";
  display: inline-block;
  border-bottom: 2px solid #fff;
  margin: 10px;
  width: 150px;
}

.About-text-two-title::after{
  content: "";
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin: 7px;
  width: 100px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.submit {
  width: 201px;
  height: 45px;
}

.socials {
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
}

.footer {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #a8a8a8;
}

.novus {
  background: linear-gradient(to right, #2200F1,  #1FB8E9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media only screen and (max-width: 600px) {
  .intro-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    color: #fff;
  }
}